body {
  background-color: rgba(255, 0, 0, 0.7);
}

.main {
  background-color: white;
  min-height: 100vh;
  width: 100vw;
}

.pull-right img-thumbnail {
  margin-top: -10px;
  margin-bottom: 10px;
}

.header-row {
  margin-top: 20px;
}

.banner-img {
  margin-bottom: 20px;
}

.navbar {
  margin-bottom: 0;
}
.nav-item {
  font-style: italic;
}
.nav-item > a.nav-link:hover {
  font-size: large;
}

.product-img {
  width: 60%;
}
.producten {
  margin-top: 15%;
  margin-bottom: 5%;
  height: 350px;
}
.card-img-top2 {
  height: 50%;
  width: auto;
}
.logo {
  max-height: 75px;
  width: auto;
  height: auto;
}
.reviewList > ul {
  height: 200px;
  width: 18%;
}
.reviewList > ul {
  overflow: hidden;
  overflow-y: scroll;
  width: 500px;
  height: 250px;
  list-style: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  background: #000000;
  color: white;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: white;
  background-color: green;
}

.editProduct > input {
  width: 50%;
  height: auto;
}
.editProduct > textarea {
  width: 50%;
  height: 150px;
}
.Cat {
  margin-top: 5%;
  margin-bottom: 5%;
}
.NoLoginTable {
  margin-left: auto;
}

.NoLoginUl {
  margin-left: auto;
}

.dropdown2 {
  display: inline-block;
}
.dropdown2-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}
.dropdown2:hover .dropdown2-content {
  display: block;
}
.dropdown2-content a {
  display: block;
  background: #000000;
  color: white;
  padding: 5px;
  text-decoration: none;
}
.dropdown2-content a:hover {
  color: white;
  background-color: green;
}